<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>HOME PAGE <%=5+5%></h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed perspiciatis
      quis similique modi praesentium fugit, deleniti dolore repudiandae unde,
      laudantium recusandae reiciendis vero numquam, ad quos laborum quas ipsum
      cum.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam autem
      suscipit nihil nemo consequatur consectetur, adipisci, assumenda illo
      mollitia quia asperiores cumque laudantium consequuntur iure molestias
      earum officia? A, tenetur.
    </p>
  </body>
</html>
